img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin:auto;

}
h2{
    text-align: center;
    color:aliceblue
}
h3{
    margin-top: 3%;
    text-align: center;
    color: aliceblue;

}
p{
    text-align: center;
    color: aliceblue;

}
body{
    background-color: #850000 ;
}

.row{
    padding: 5%;
}