img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin:auto;

}
h2{
    text-align: center;
    color:aliceblue
}
h3{
    margin-top: 3%;
    text-align: center;
    color: aliceblue;

}
p{
    text-align: center;
    color: aliceblue;

}
body{
    background-color: #850000 ;
}

.row{
    padding: 5%;
}

.header{
    background-color: #FFC93C;
    margin-left: auto;
    margin-right: auto;
}
.topbar{
    background-color:#FFC93C ;
}
.restaurant-name {
    color: #850000;
    font-size: 3rem;
    text-align: center;
}
